article {
  border: 2px solid #9098A1;
  border-radius: 5px;
  padding: 20px;
}

article, .header {
  background-color: #D3E0F0;
  color: #2D3032;
}

aside {
  background-color: #D3E0F0;
  bottom: 20px;
  height: 200vh;
}

main .form-control {
  margin-bottom: 15px;
}

i:hover {
  cursor: pointer;
}

.add-post {
  margin-top: 23px;
}

.add-post-btn {
  margin: 5px 0 0 10px;
}

.add-post-form {
  margin: 20px 0 20px 0;
}

.input-group-btn:last-child>.btn {
  background-color: #eeeeee;
  border: 1px solid lightgrey;
}

.input-group-btn:last-child>.btn:hover {
  background-color: transparent;
}

.logo.img-responsive{
  bottom: 4px;
  height: inherit;
  position: relative;
  width: auto;
}

.navbar {
  height: 65px;
}

.navbar-form {
  top: 18px;
  position: relative;
}

.push-right {
  margin-left: 10px;
}

.main form {
  background-color: #f5f5f5;
  border: 2px solid #9098A1;
  border-radius: 5px;
  padding: 10px;
}

.register-link {
  position: relative;
  bottom:30px;
  left: 420px;
}

.votes {
  color: #2D3032;
  background-color: white;
  border-radius: 5px;
  font-size: 2.2rem;
  height: 130px;
  padding: 2% 0 0 0;
  text-align: center;
}
