<!DOCTYPE html>
<html ng-app="blueitApp">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>Blueit - It's just like Reddit</title>

    <link href="css/style.css" rel="stylesheet">
    <link href="css/bootstrap.min.css" rel="stylesheet">
  </head>
  <body ng-controller="TopicsCtrl as topics">

    <nav class="navbar navbar-default navbar-static-top">
      <div class="container-fluid">
        <div class="navbar-header">
          <a class="navbar-brand" href="#">
            <img class="img-responsive logo" src="images/blueit-logo.png" alt="logo">
          </a>
        </div>

        <form class="navbar-form navbar-right hidden-sm hidden-xs" role="search">
          <div class="form-group">
            <a class="register-link" href="#">Not a member? Register here.</a>

            <label for="username"></label>
            <input name="username" type="text" class="form-control" placeholder="username">

            <label for="password"></label>
            <input name="password" type="password" class="form-control" placeholder="password">

          </div>
          <button type="text" class="btn btn-default">Login</button>
        </form>
      </div>
    </nav>

    <main ng-controller="PostsCtrl as posts" class="row">
      <aside class="col-sm-4 col-md-2">
        <section class="row">

          <div class="panel panel-default push-right">
            <div class="panel-heading">Topics</div>
            <div class="panel-body">

              <form novalidate ng-submit="topics.addTopic()" name="topicsForm">
                <div class="form-group">
                  <label for="search-topics"></label>
                  <div class="input-group">
                    <input ng-model="searchTopics" type="text" class="form-control" name="search-topics" placeholder="Search Topics">
                    <span class="input-group-btn">
                      <button class="btn btn-secondary glyphicon glyphicon-search" type="submit" name="action"></button>
                    </span>
                  </div>
                </div>

                <div class="form-group">
                  <label for="topicName"></label>
                  <div class="input-group">
                    <input ng-model="topics.topicsForm.topicName" ng-minlength="3" ng-maxlength="20" type="text" class="form-control" name="topicName" placeholder="Add Topic" required>
                    <span class="input-group-btn">
                      <button class="btn btn-secondary glyphicon glyphicon-plus" type="submit" name="action"></button>
                    </span>
                  </div>
                  <div class="has-error" ng-show="topicsForm.topicName.$dirty && topicsForm.topicName.$invalid">
                    <small class="has-error"  ng-show="topicsForm.topicName.$error.required && !topicsForm.topicName.$pristine">
                      Topic Name is required.
                    </small>
                    <small class="error"
                    ng-show="topicsForm.topicName.$error.minlength">
                      Topic names cannot be fewer than 3 characters.
                    </small>
                    <small class="error"
                    ng-show="topicsForm.topicName.$error.maxlength">
                      Topic names cannot be longer than 20 characters.
                    </small>
                  </div>
                </div>
              </form>
            </div>

            <div class="list-group">
              <button type="button" class="list-group-item">
               All
             </button>
              <button ng-repeat="topic in topics.topics | orderBy: 'name' | filter : searchTopics" type="button" class="list-group-item">
                {{ topic.name }}
              </button>
            </div>
          </div>
        </section>
      </aside>
      <section class="col-sm-8 col-md-6 col-md-offset-1">
        <header class="row">
          <div class="col-lg-10">
            <h1>Posts</h1>
          </div>
          <button ng-click="showMe=true" type="text" class="btn btn-default col-lg-2 add-post">Add New Post</button>
        </header>

        <form ng-show="showMe"  ng-submit="posts.addPost()" class="row add-post-form" novalidate name="postsForm" role="search">
          <select class="form-control">
            <option selected disabled>Choose Topic</option>
            <option ng-repeat="topic in topics.topics | orderBy : 'name'">
              {{ topic.name }}
            </option>
          </select>

          <label for="postTitle"></label>
          <input ng-model="posts.postsForm.postTitle" name="postTitle" type="text" class="form-control" placeholder="Title">

          <label for="postImg"></label>
          <input ng-model="posts.postsForm.imgUrl" type="text" class="form-control" name="postImg" placeholder="Url to image for post" required>

          <button ng-click="showMe=false" class="pull-right btn btn-default add-post-btn" type="submit" name="action">
            Submit Post
          </button>

          <span ng-click="showMe=false" class="pull-right btn btn-default add-post-btn" type="text">
            Cancel
          </span>
        </form>

        <article ng-repeat="post in posts.posts | orderBy : '-created_at'" class="row">
            <img class="img-rounded col-sm-3" src="{{ post.image_url }}">
            <h3 class="col-sm-7">
              "{{ post.title }}"
            </h3>
            <section class="col-sm-2 votes">
                <i ng-click="posts.upVote()" class="glyphicon glyphicon-arrow-up"></i>
                <p>{{ post.rating }}</p>
                <i class="glyphicon glyphicon-arrow-down"></i>
            </section>
            <small class="push-right">{{ post.created_at | date : 'medium' }}</small>
        </article>
      </section>
    </main>

    <script src="js/jquery-3.1.0.min.js"></script>
    <script src="js/bootstrap.min.js"></script>
    <script src="js/angular.min.js"></script>
    <script src="js/app.js"></script>
    <script src="js/filters.js"></script>
    <script src="js/controllers.js"></script>
  </body>
</html>
