<!-- Points to components/navbar.html -->
<bb-navbar></bb-navbar>
<div ng-controller="TopicsCtrl as topics">

<!-- Points to components/aside.html -->
  <bb-aside></bb-aside>

  <section ng-controller="RegisterCtrl as register" class="col-sm-8 col-md-6 col-md-offset-1 main">

<!-- Points to components/register-form.html -->
    <bb-register-form class="hidden-xs hidden-sm"></bb-register-form>

<!-- Points to components/posts-nav.html -->
    <bb-posts-nav></bb-posts-nav>

<!-- Points to components/posts-form.html -->
    <bb-posts-form></bb-posts-form>

<!-- Points to components/posts-large.html -->
    <bb-posts-large></bb-posts-large>
  </section>
</div>
