<aside class="col-sm-4 col-md-2">

<!-- Points to components/login-aside.html -->
  <bb-login-aside></bb-login-aside>

<!-- Points to components/register-form.html -->
  <bb-register-form class="hidden-md hidden-lg"></bb-register-form>

  <section class="row">

    <div class="panel panel-default">
      <div class="panel-heading">Topics</div>
      <div class="panel-body">

<!-- Points to components/topics-form.html -->
        <bb-topics-form></bb-topics-form>

      </div>

<!-- Points to components/topics-list.html -->
      <bb-topics-list></bb-topics-list>

    </div>
  </section>
</aside>
