<form ng-if="!authorize.isLoggedIn()" ng-submit="authorize.login()" class="collapse-form hidden-md hidden-lg row form-border" role="search">
  <div class="form-group">

    <label for="username"></label>
    <input ng-model="authorize.username" name="username" type="text" class="form-control" placeholder="username">

    <label for="password"></label>
    <input ng-model="authorize.password" name="password" type="password" class="form-control" placeholder="password">

  </div>
  <button type="text" class="btn btn-default pull-right">
    Login
  </button>

  <a ng-click="authorize.show = true" class="pull-left" href="#/">
    Not a member? Register here.
  </a>
</form>
