article {
  border: 2px solid #9098A1;
  border-radius: 5px;
  height: 240px;
}

article, .header {
  background-color: #D3E0F0;
  color: #2D3032;
}

article, p {
  font-size: 1.8rem;
}

aside {
  background-color: #D3E0F0;
  bottom: 20px;
  height: 400vh;
  position: fixed;
}

aside form {
  padding: 10px;
}

aside form.form-border {
  border-bottom: 1px solid #9098A1;
  border-top: 1px solid #9098A1;
}

label {
  margin-top: 10px;
}

main .form-control {
  margin-bottom: 5px;
  margin-top: 10px;
}

i:hover {
  cursor: pointer;
}

.add-post-btn {
  margin: 5px 0 0 10px;
}

.add-post-form {
  margin: 20px 0 20px 0;
}

.error {
  color: #d9534f;
}

.form-border {
  border-bottom: 1px solid #9098A1;
  border-top: 1px solid #9098A1;
}

.input-group-btn:last-child>.btn {
  background-color: #eeeeee;
  border: 1px solid lightgrey;
  position: relative;
  top: 5px;
}

.input-group-btn:last-child>.btn:hover {
  background-color: transparent;
}

.info-error {
  color: #d9534f;
  left: 200px;
  position: relative;
}

.logo.img-responsive{
  bottom: 4px;
  height: inherit;
  position: relative;
  width: auto;
}

.logout-lg {
  right: 15px;
  top: 26px;
  position: relative;
}

.logout-sm {
  bottom: 26px;
  position: relative;
}

.main form {
  background-color: #f5f5f5;
  border: 2px solid #9098A1;
  border-radius: 5px;
  padding: 10px;
}

.navbar {
  height: 65px;
}

.navbar-form {
  top: 10px;
  position: relative;
}

.password-error {
  left: 385px;
  position: relative;
}

div.post-content {
  padding: 0 30px 0 30px;
}

.post-description {
  height: 30px;
}

.post-time {
  font-size: 80%;
  right: 5px;
  position: relative;
  top: 120px;
}

.post-title {
  position: relative;
  right: 10px;
}

.push-right {
  margin-left: 10px;
}

.push-up {
  bottom: 19px;
}

.register-link {
  position: relative;
  bottom:30px;
  left: 420px;
}

.success {
  color: #5cb85c;
}

.votes {
  color: #2D3032;
  background-color: white;
  border-bottom: 1px solid #9098A1;
  border-left: 1px solid #9098A1;
  border-radius: 0 5px 5px 0;
  font-size: 3.2rem;
  height: 237px;
  padding: 60px 0 0 0;
  text-align: center;
}

.vote-error {
  font-size: 1rem;
  left: 80px;
  position: relative;
  top: 115px;
}

.username-error {
  left: 200px;
  position: relative;
}
